/*from get.no*/
body {
	background: #e0dfdf;
}
body {
	color: #434244;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 16px;
}
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
header {
	background: url('../images/bg-top.png');
	height: 100px;
	width: 100%;
	padding-bottom: 0;
	padding-right: 10%;
	padding-left: 10%;
	position: relative;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

/*from metronic*/
