/* here you can put your own css to customize and override the theme */

.page-header-border-top {
	background-color: #434245;
	height: 3px;
}
.logo-default {
	z-index: 9999999;
}
.page-header.navbar .page-logo .logo-default {
	margin: 9px 0 0 0;
}
.page-header.navbar {
	height: 49px;
}
.theme-panel > .theme-options > .theme-option.theme-colors > ul > li.color-get {
  background: #ECBC29;
}

.portlet.solid.bordered > .portlet-title {
  margin-bottom: 5px;
}

.portlet.solid > .portlet-title > .tools {
	margin-top: 0px;
	border: 0px;
}

.timeline-date-range {
	background-color: #bfcad1;
	color: #fff;
	cursor: pointer;
	padding: 10px 9px 9px 9px;
	font-weight: normal;
	font-size: 14px;
}

.timeline-caption {
	float: left;
	display: inline-block;
	font-size: 18px;
	line-height: 18px;
	font-weight: 400;
	padding: 10px;
	background-color: #E9EDEF;
}

.timeline-title {
	background-color: #E9EDEF;
}

.timeline-dropdown{
	list-style: none;
}

.timeline-tools {
	margin-top: 0px;
	border: 0px;
}

.qtip-default {
	border-width: 1px;
	border-style: solid;
	border-color: #F1D031;
	background-color: #FFFFA3;
	color: #555;
}

.qtip {
	position: absolute;
	left: 10px;
	top: 10px;
	max-width: 280px;
	min-width: 50px;
	font-size: 10.5px;
	line-height: 12px;
	direction: ltr;
	box-shadow: none;
	padding: 0;
	z-index: 9999999;
	display: block;
}

.qtip-content {
	position: relative;
	padding: 5px 9px;
	overflow: hidden;
	text-align: left;
	word-wrap: break-word;
}

.qtip-shadow {
	-webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
	box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
}

@font-face {
	font-family: 'RobotoL';
	font-style: normal;
	font-weight: 300;
	src: local('Roboto Light'), local('Roboto-Light'),
	url(http://themes.googleusercontent.com/static/fonts/roboto/v10/Pru33qjShpZSmG3z6VYwnT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}



/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/