/* here you can put your own css to customize and override the theme */

.page-header-border-top {
	background-color: #434245;
	height: 3px;
}
.logo-default {
	z-index: 9999999;
}
.page-header.navbar .page-logo .logo-default {
	margin: 9px 0 0 0;
}
.page-header.navbar {
	height: 49px;
}
.theme-panel > .theme-options > .theme-option.theme-colors > ul > li.color-get {
  background: #ECBC29;
}
.portlet.solid.bordered > .portlet-title {
  margin-bottom: 5px;
}
.portlet.solid > .portlet-title > .tools {
	margin-top: 0px;
	border: 0px;
}
.timeline-date-range {
	background-color: #bfcad1;
	color: #fff;
	cursor: pointer;
	padding: 10px 9px 9px 9px;
	font-weight: normal;
	font-size: 14px;
}
.timeline-caption {
	float: left;
	display: inline-block;
	font-size: 18px;
	line-height: 18px;
	font-weight: 400;
	padding: 10px;
	background-color: #E9EDEF;
}
.timeline-title {
	background-color: #E9EDEF;
}
.timeline-dropdown{
	list-style: none;
}
.timeline-tools {
	margin-top: 0px;
	border: 0px;
}

.tip-default {
	border-width: 1px;
	border-style: solid;
	border-color: #F1D031;
	background-color: #FFFFA3;
	color: #555;
}
.tip {
	position: absolute;
	left: 10px;
	top: 10px;
	max-width: 280px;
	/*min-width: 50px;*/
	font-size: 12px;
	line-height: 12px;
	direction: ltr;
	box-shadow: none;
	padding: 0;
	z-index: 9999999;
	/*display: none;*/

	display: block;
}
.tip-content {
	position: relative;
	padding: 4px;
	overflow: hidden;
	text-align: left;
	word-wrap: break-word;
}
.tip-shadow {
	-webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
	box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
}

.eventip.dropdown-menu {
	padding: 2px;
}
.eventip.dropdown-menu {
	max-width: none;
	z-index: 9999999;
}
/*.dropdown-menu {
position: absolute;
top: 100%;
left: 0;
z-index: 1000;
display: none;
float: left;
list-style: none;
text-shadow: none;
padding: 0px;
margin: 0px;
background-color: #ffffff;
box-shadow: 5px 5px rgba(102, 102, 102, 0.1);
border: 1px solid #efefef;
font-size: 14px;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
*/
.eventip {
	position: absolute;
	background: #fff;
	top: 100px;
	left: 20px;
	padding: 4px;
	margin-top: 1px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.eventip.opensright:before {
	position: absolute;

	left:-9px;
	top: 12px;	
	/*top: -7px;*/
	/*right: 9px;*/
	display: inline-block;
	/*	
	border-right: 7px solid transparent;
	border-bottom: 7px solid #ccc;
	border-left: 7px solid transparent;
	border-bottom-color: rgba(0, 0, 0, 0.2);
	*/	

	border-bottom: 9px solid transparent;
	border-right: 9px solid #efefef;
	border-top: 9px solid transparent;
	/*border-right-color: rgba(0, 0, 0, 0.2);*/

	border-right-color: #efefef;

	content: '';
}

.eventip.opensright:after {
	position: absolute;
	left: -8px;
	top: 13px;
	display: inline-block;
	

	border-bottom: 8px solid transparent;
	border-right: 8px solid #ffffff;
	border-top: 8px solid transparent;
	
	/*border-right-color: rgba(0, 0, 0, 0.2);*/
	/*border-right-color: '#ff0000';*/


	content: '';
}

.eventip-title {
	position: relative;
}
.eventip-icon {
	color: #fff;
    font-size:16px !important;
    font-family: "Open Sans"
}
.eventip-icon-clock {
    position: absolute;
	left:8px;
	top:5px;
}
.eventip-icon-close {
    position: absolute;
	right:8px;
	top:5px;
}

.table-scrollable-overrides {
	margin: 5px 0 !important;	
}


@font-face {
	font-family: 'RobotoL';
	font-style: normal;
	font-weight: 300;
	src: local('Roboto Light'), local('Roboto-Light'),
	url(http://themes.googleusercontent.com/static/fonts/roboto/v10/Pru33qjShpZSmG3z6VYwnT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/