<div class="portlet-body">
	<div ng-style="{ backgroundColor: itemType.color }" class="popup-title">
		<i class="popup-icon popup-icon-outage"></i>
		<span>{{ title }}</span>
		<i class="popup-icon popup-icon-close" ng-click="hide()"></i>
	</div>
	<div class="table-scrollable table-scrollable-overrides">
		<table class="table table-striped table-hover" style="font-family:'Open Sans'">
			<thead>
				<tr>
					<th>
						 Type
					</th>
					<th>
						 Status
					</th>
					<th>
						 Reported Time
					</th>
					<th>
						 Resolved Time
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in items">
					<td>
						 <a href="#">{{ item.type.text }}</a>
					</td>
					<td>
						 <span style="color:#fff;padding:0 3px 0 3px" ng-style="{backgroundColor: item.status.color}">{{ item.status.text }}</span>
					</td>
					<td>
						 {{ item.reportedTime.format("hh:mm:ss a") }}
					</td>
					<td>
						 {{ item.resolvedTime.format("hh:mm:ss a") }}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="popup-footer" ng-click="hide()">
		<a href="#">See all outages for this customer</a><i class="m-icon-swapright popup-icon-go"></i>
	</div>
</div>
